*{
	padding: 0px;
	margin: 0px;
	font-family: arial;
	box-sizing: border-box;
}
.enviar-derecha{
	margin-left: auto;
}
body{
	background: #EDEDED;
}
h1{
	font-size: 2rem;
}
li{
	list-style: none;
}

/*Seccion de Navegador*/
#navegador{
	width: 100%;
	background-color: #3B3B3B;
	padding-top: 10px;
	padding-bottom: 20px;

}

nav{
	max-width: 1100px;
	margin: auto;
	color: white;
}

nav ul{
	display: flex;
	align-items: center;

}
nav li{
	background: #7e7e7e;
	padding: 5px;
	height: 20px;
	margin-right: 10px;
	border-radius: 2px;
	padding-bottom: 20px;
}

nav li:hover{
	cursor: pointer;
	background: #C9C9C9;

}
/*Seccion de navegador*/
/*Seccion de contenedor*/
#contenedor{
	max-width: 1100px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
}
#contenedorInterno{
	flex-grow: 1;
	padding: 10px;

}
#contenedor aside{
	width: 300px;
	padding: 10px;
	background: #AEAEAE;
}
.categoria{
	display: flex;
	background: #F1F1F1;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1.5px #B5B5B5;
}

.articulos{
	width: 280px;
	background: #3cb2c8;
	margin: auto;
	margin-bottom: 5px;
	padding: 6px;
	color: white;
	transition: all .2s;
}
.articulos img{
	width: 100%;
}
.articulos:hover{
	transform: scale(1.05);
	box-shadow: 0px 0px 5px 0px #777;
}
#portada{
	margin-bottom: 10px;
	margin-top: 20px;
	width: 100%;
}
#imagenTexto{
	float:left;
	margin-right: 10px;
	width: 220px;
}

.navPost{
	display: flex;
	text-align: center;
	margin-top: 20px;
	border-top: solid 3px #E9E9E9;
	border-bottom: solid 3px #E9E9E9;

}
.navPost div{
	flex-grow: 1;
	padding: 10px;
}

#izquierdaClick{
	border-right: solid 2px #E9E9E9;

}
#derechaClick{
	border-left: solid 2px #E9E9E9;
}

/*Seccion de contenedor*/
/*Seccion de Footer*/

#footer{
	background-color: #3B3B3B;
	color: white;
}
footer{
	display: flex;
	max-width: 1100px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	justify-content: space-between;
}

#logofooter{
	width: 200px;
}
/*Seccion de Footer*/

/*IPAD*/
@media(max-width: 768px){
#contenedor{
	flex-direction: column;

}

#contenedor aside{
	width: 100%;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background: #3cb2c8;
}

.articulos{
	width: 47%;
}

nav, footer {
	width: 95%;
}
nav li.menu{
	padding-bottom: 25px;
}
/* IPAD*/

/*MOVIL*/
@media(max-width: 380px){

ul {
	max-width: 90%;
	flex-wrap: wrap-reverse;
}
.logo{
	margin: auto;
	margin-bottom: 10px;
}
nav li {
	    margin-left:14px;
	}


 footer{
 	padding-bottom: 0px;
 	flex-direction: column;
 	text-align: center;
 	padding-bottom: 10px;
 	background: #414141;
 }
.articulos{
	width: 100%;
}

}

/*MOVIL*/